<!DOCTYPE html>
    <html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <title>Welcome to OpenTonic</title>
    </head>

    <body>
        <div id="main">{% block content %}{% endblock %}</div>
    </body>
</html>
